In [428]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.metrics import mean_absolute_error,mean_squared_error
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split

In [429]:
dfRAWLoadHistory = pd.read_excel("dataset.xlsx", sheet_name="load_history",parse_dates= {"date" : ["year","month","day"]})
dfRAWTempHistory = pd.read_excel("dataset.xlsx", sheet_name="temperature_history",parse_dates= {"date" : ["year","month","day"]})

In [430]:
dfRAWTempHistory.head()

,date,obsn,station_id,h1,h2,h3,h4,h5,h6,h7,...,h18,h19,h20,h21,h22,h23,h24,Avg Temp,High,Low
0,2015-01-01,1,1,45.0,41.0,40.0,39.0,43.0,44.0,41.0,...,62.0,59.0,59.0,57.0,56.0,54.0,50.0,50.125000,63.0,37.0
1,2015-01-01,2,2,55.0,55.0,54.0,50.0,48.0,44.0,42.0,...,55.0,49.0,49.0,48.0,47.0,49.0,50.0,53.333333,64.0,42.0
2,2015-01-01,3,3,47.0,45.0,44.0,39.0,39.0,38.0,37.0,...,61.0,56.0,55.0,55.0,54.0,55.0,55.0,50.875000,65.0,37.0
3,2015-01-01,4,4,53.0,51.0,49.0,45.0,43.0,41.0,39.0,...,57.0,54.0,44.0,43.0,39.0,39.0,39.0,48.708333,61.0,39.0
4,2015-01-01,5,5,54.0,52.0,50.0,46.0,42.0,41.0,39.0,...,60.0,55.0,52.0,49.0,46.0,48.0,51.0,53.000000,69.0,38.0

In [431]:
dfRAWLoadHistory.head()

,date,obsn,zone_id,Holiday,Weekend,h1,h2,h3,h4,h5,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,2015-01-01,1,1.0,1,0,66025.0,64655.0,63898.0,64078.0,65734.0,...,50102.0,49364.0,51966.0,60480.0,64995.0,65275.0,65167.0,65055.0,65449.0,61156.0
1,2015-01-01,2,2.0,1,0,16908.0,16505.0,16572.0,16928.0,17119.0,...,13573.0,13193.0,14185.0,16864.0,18205.0,18290.0,17980.0,16959.0,16217.0,14805.0
2,2015-01-01,3,3.0,1,0,126314.0,123368.0,119247.0,117562.0,118398.0,...,127738.0,126884.0,135218.0,155491.0,157905.0,156895.0,153409.0,147031.0,137768.0,128078.0
3,2015-01-01,4,4.0,1,0,136288.0,133110.0,128663.0,126846.0,127747.0,...,137825.0,136904.0,145897.0,167770.0,170376.0,169285.0,165525.0,158642.0,148647.0,138193.0
4,2015-01-01,5,5.0,1,0,539.0,512.0,505.0,503.0,499.0,...,581.0,562.0,615.0,674.0,748.0,718.0,692.0,660.0,605.0,577.0

In [432]:
dfRAWLoadHistory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26256 entries, 0 to 26255
Data columns (total 29 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     26256 non-null  datetime64[ns]
 1   obsn     26241 non-null  object
 2   zone_id  24615 non-null  float64
 3   Holiday  26256 non-null  int64
 4   Weekend  26256 non-null  int64
 5   h1       25232 non-null  float64
 6   h2       25232 non-null  float64
 7   h3       25232 non-null  float64
 8   h4       25232 non-null  float64
 9   h5       25232 non-null  float64
 10  h6       25232 non-null  float64
 11  h7       25232 non-null  float64
 12  h8       25232 non-null  float64
 13  h9       25232 non-null  float64
 14  h10      25232 non-null  float64
 15  h11      25232 non-null  float64
 16  h12      25232 non-null  float64
 17  h13      25232 non-null  float64
 18  h14      25232 non-null  float64
 19  h15      25232 non-null  float64
 20  h16      25232 non-null  float64
 21  h17      25232 non-null  float64
 22  h18      25232 non-null  float64
 23  h19      25232 non-null  float64
 24  h20      25232 non-null  float64
 25  h21      25232 non-null  float64
 26  h22      25232 non-null  float64
 27  h23      25232 non-null  float64
 28  h24      25232 non-null  float64
dtypes: datetime64[ns](1), float64(25), int64(2), object(1)
memory usage: 5.8+ MB

In [433]:
dfRAWLoadHistory = dfRAWLoadHistory.replace('', np.nan)

# using dictionary to convert specific columns
convert_dict = {'Holiday': bool, 'Weekend': bool, 'zone_id': str}
dfRAWLoadHistory = dfRAWLoadHistory.astype(convert_dict)
dfRAWLoadHistory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26256 entries, 0 to 26255
Data columns (total 29 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     26256 non-null  datetime64[ns]
 1   obsn     26241 non-null  object
 2   zone_id  26256 non-null  object
 3   Holiday  26256 non-null  bool
 4   Weekend  26256 non-null  bool
 5   h1       25232 non-null  float64
 6   h2       25232 non-null  float64
 7   h3       25232 non-null  float64
 8   h4       25232 non-null  float64
 9   h5       25232 non-null  float64
 10  h6       25232 non-null  float64
 11  h7       25232 non-null  float64
 12  h8       25232 non-null  float64
 13  h9       25232 non-null  float64
 14  h10      25232 non-null  float64
 15  h11      25232 non-null  float64
 16  h12      25232 non-null  float64
 17  h13      25232 non-null  float64
 18  h14      25232 non-null  float64
 19  h15      25232 non-null  float64
 20  h16      25232 non-null  float64
 21  h17      25232 non-null  float64
 22  h18      25232 non-null  float64
 23  h19      25232 non-null  float64
 24  h20      25232 non-null  float64
 25  h21      25232 non-null  float64
 26  h22      25232 non-null  float64
 27  h23      25232 non-null  float64
 28  h24      25232 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(24), object(2)
memory usage: 5.5+ MB

In [434]:
dfTotalLoadHistory = dfRAWLoadHistory[(dfRAWLoadHistory.obsn == "total")]
dfTotalLoadHistory.drop(columns='zone_id',inplace = True)
dfTotalLoadHistory.head()

/var/folders/_4/65xymvxn5xgb3xsst5lm02800000gn/T/ipykernel_92252/1559307592.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTotalLoadHistory.drop(columns='zone_id',inplace = True)

,date,obsn,Holiday,Weekend,h1,h2,h3,h4,h5,h6,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
15,2015-01-01,total,True,False,976022.0,940929.0,911360.0,903748.0,926770.0,950478.0,...,931515.0,922874.0,978192.0,1128920.0,1163657.0,1162872.0,1144546.0,1104189.0,1054152.0,982493.0
31,2015-01-02,total,False,False,936473.0,919261.0,908778.0,911527.0,929152.0,988469.0,...,1069949.0,1042032.0,1079327.0,1198336.0,1227602.0,1217351.0,1193901.0,1145354.0,1085611.0,1001548.0
47,2015-01-03,total,False,True,951182.0,909672.0,898850.0,884750.0,900030.0,923800.0,...,922920.0,912623.0,946551.0,1046284.0,1069254.0,1043129.0,1018950.0,972760.0,918042.0,844958.0
63,2015-01-04,total,False,True,771658.0,738315.0,720847.0,709735.0,715169.0,724002.0,...,943851.0,953043.0,1006350.0,1107198.0,1127991.0,1110790.0,1096348.0,1046516.0,968805.0,888023.0
79,2015-01-05,total,False,False,845034.0,828042.0,830246.0,849710.0,875595.0,975527.0,...,1125570.0,1132154.0,1176300.0,1288604.0,1330396.0,1320305.0,1286228.0,1229536.0,1145582.0,1058491.0

In [435]:
dfLoadHistoryToPred = dfRAWLoadHistory[(dfRAWLoadHistory.obsn != "total")&(pd.isna(dfRAWLoadHistory['h1']))]
dfLoadHistoryToPred.drop(columns='obsn',inplace = True)
dfLoadHistoryToPred.head()

/var/folders/_4/65xymvxn5xgb3xsst5lm02800000gn/T/ipykernel_92252/3364734008.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfLoadHistoryToPred.drop(columns='obsn',inplace = True)

,date,zone_id,Holiday,Weekend,h1,h2,h3,h4,h5,h6,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
6784,2016-02-29,1.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6785,2016-02-29,2.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6786,2016-02-29,3.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6787,2016-02-29,4.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6788,2016-02-29,5.0,False,False,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [436]:
dfLoadHistoryToPred.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 960 entries, 6784 to 26254
Data columns (total 28 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     960 non-null    datetime64[ns]
 1   zone_id  960 non-null    object
 2   Holiday  960 non-null    bool
 3   Weekend  960 non-null    bool
 4   h1       0 non-null      float64
 5   h2       0 non-null      float64
 6   h3       0 non-null      float64
 7   h4       0 non-null      float64
 8   h5       0 non-null      float64
 9   h6       0 non-null      float64
 10  h7       0 non-null      float64
 11  h8       0 non-null      float64
 12  h9       0 non-null      float64
 13  h10      0 non-null      float64
 14  h11      0 non-null      float64
 15  h12      0 non-null      float64
 16  h13      0 non-null      float64
 17  h14      0 non-null      float64
 18  h15      0 non-null      float64
 19  h16      0 non-null      float64
 20  h17      0 non-null      float64
 21  h18      0 non-null      float64
 22  h19      0 non-null      float64
 23  h20      0 non-null      float64
 24  h21      0 non-null      float64
 25  h22      0 non-null      float64
 26  h23      0 non-null      float64
 27  h24      0 non-null      float64
dtypes: bool(2), datetime64[ns](1), float64(24), object(1)
memory usage: 204.4+ KB

In [437]:
#create df of data without missing/to pred values 

dfLoadHistory = dfRAWLoadHistory[(dfRAWLoadHistory.obsn != "total")&(~dfRAWLoadHistory['h1'].isnull())]
dfLoadHistory.head(20)

,date,obsn,zone_id,Holiday,Weekend,h1,h2,h3,h4,h5,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,2015-01-01,1,1.0,True,False,66025.0,64655.0,63898.0,64078.0,65734.0,...,50102.0,49364.0,51966.0,60480.0,64995.0,65275.0,65167.0,65055.0,65449.0,61156.0
1,2015-01-01,2,2.0,True,False,16908.0,16505.0,16572.0,16928.0,17119.0,...,13573.0,13193.0,14185.0,16864.0,18205.0,18290.0,17980.0,16959.0,16217.0,14805.0
2,2015-01-01,3,3.0,True,False,126314.0,123368.0,119247.0,117562.0,118398.0,...,127738.0,126884.0,135218.0,155491.0,157905.0,156895.0,153409.0,147031.0,137768.0,128078.0
3,2015-01-01,4,4.0,True,False,136288.0,133110.0,128663.0,126846.0,127747.0,...,137825.0,136904.0,145897.0,167770.0,170376.0,169285.0,165525.0,158642.0,148647.0,138193.0
4,2015-01-01,5,5.0,True,False,539.0,512.0,505.0,503.0,499.0,...,581.0,562.0,615.0,674.0,748.0,718.0,692.0,660.0,605.0,577.0
5,2015-01-01,6,6.0,True,False,6884.0,6651.0,6580.0,6709.0,7032.0,...,6913.0,6690.0,7275.0,8713.0,9234.0,9160.0,8826.0,8277.0,7360.0,6391.0
6,2015-01-01,7,7.0,True,False,133143.0,129964.0,125772.0,124217.0,125375.0,...,134595.0,133520.0,142438.0,164148.0,167084.0,166000.0,162181.0,155252.0,145073.0,134415.0
7,2015-01-01,8,8.0,True,False,136288.0,133110.0,128663.0,126846.0,127747.0,...,137825.0,136904.0,145897.0,167770.0,170376.0,169285.0,165525.0,158642.0,148647.0,138193.0
8,2015-01-01,9,9.0,True,False,3179.0,3011.0,3008.0,2969.0,3276.0,...,3829.0,3808.0,3958.0,4403.0,4663.0,4587.0,4327.0,3959.0,3582.0,3243.0
9,2015-01-01,10,10.0,True,False,75298.0,67423.0,64105.0,63916.0,75907.0,...,65722.0,65680.0,64987.0,66184.0,65176.0,64966.0,64966.0,65407.0,73660.0,76537.0
10,2015-01-01,11,11.0,True,False,23394.0,22155.0,21431.0,21390.0,21619.0,...,20177.0,20128.0,21185.0,24880.0,26482.0,26516.0,26255.0,25433.0,23881.0,22081.0
11,2015-01-01,12,12.0,True,False,90755.0,86754.0,84298.0,84340.0,86142.0,...,84570.0,83113.0,88278.0,105115.0,111353.0,112782.0,111668.0,107977.0,101566.0,93259.0
12,2015-01-01,13,13.0,True,False,118433.0,112535.0,108490.0,107279.0,108925.0,...,111541.0,109659.0,117167.0,140692.0,148971.0,151149.0,150370.0,145129.0,136564.0,124318.0
13,2015-01-01,14,14.0,True,False,20728.0,19721.0,19075.0,18896.0,19365.0,...,20086.0,20079.0,21385.0,24125.0,24711.0,24350.0,23715.0,22445.0,21827.0,19740.0
14,2015-01-01,15,15.0,True,False,21846.0,21455.0,21053.0,21269.0,21885.0,...,16438.0,16386.0,17741.0,21611.0,23378.0,23614.0,23940.0,23321.0,23306.0,21507.0
16,2015-01-02,16,1.0,False,False,57097.0,54532.0,52377.0,52239.0,54898.0,...,52851.0,52079.0,53004.0,60382.0,65371.0,64864.0,64175.0,62627.0,63434.0,60385.0
17,2015-01-02,17,2.0,False,False,14210.0,14093.0,14074.0,14544.0,14975.0,...,16182.0,15503.0,15894.0,17782.0,18950.0,18705.0,18498.0,17635.0,16522.0,15313.0
18,2015-01-02,18,3.0,False,False,123507.0,122362.0,122236.0,123457.0,125808.0,...,158403.0,152886.0,157984.0,173045.0,173483.0,170236.0,166236.0,158411.0,148475.0,138555.0
19,2015-01-02,19,4.0,False,False,133261.0,132025.0,131888.0,133207.0,135742.0,...,170913.0,164961.0,170461.0,186711.0,187184.0,183680.0,179365.0,170922.0,160200.0,149497.0
20,2015-01-02,20,5.0,False,False,516.0,493.0,502.0,494.0,503.0,...,577.0,545.0,559.0,639.0,685.0,689.0,640.0,657.0,608.0,536.0

In [438]:
dfRAWTempHistory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14760 entries, 0 to 14759
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        14760 non-null  datetime64[ns]
 1   obsn        14760 non-null  int64
 2   station_id  14760 non-null  int64
 3   h1          14697 non-null  float64
 4   h2          14697 non-null  float64
 5   h3          14697 non-null  float64
 6   h4          14697 non-null  float64
 7   h5          14697 non-null  float64
 8   h6          14697 non-null  float64
 9   h7          14697 non-null  float64
 10  h8          14697 non-null  float64
 11  h9          14697 non-null  float64
 12  h10         14697 non-null  float64
 13  h11         14697 non-null  float64
 14  h12         14697 non-null  float64
 15  h13         14697 non-null  float64
 16  h14         14697 non-null  float64
 17  h15         14697 non-null  float64
 18  h16         14697 non-null  float64
 19  h17         14697 non-null  float64
 20  h18         14697 non-null  float64
 21  h19         14697 non-null  float64
 22  h20         14697 non-null  float64
 23  h21         14697 non-null  float64
 24  h22         14697 non-null  float64
 25  h23         14697 non-null  float64
 26  h24         14697 non-null  float64
 27  Avg Temp    14697 non-null  float64
 28  High        14697 non-null  float64
 29  Low         14697 non-null  float64
dtypes: datetime64[ns](1), float64(27), int64(2)
memory usage: 3.4 MB

In [439]:
dfRAWTempHistory = dfRAWTempHistory.replace('', np.nan)

# using dictionary to convert specific columns
convert_dict = {'station_id':str}
dfRAWTempHistory = dfRAWTempHistory.astype(convert_dict)
dfRAWTempHistory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14760 entries, 0 to 14759
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        14760 non-null  datetime64[ns]
 1   obsn        14760 non-null  int64
 2   station_id  14760 non-null  object
 3   h1          14697 non-null  float64
 4   h2          14697 non-null  float64
 5   h3          14697 non-null  float64
 6   h4          14697 non-null  float64
 7   h5          14697 non-null  float64
 8   h6          14697 non-null  float64
 9   h7          14697 non-null  float64
 10  h8          14697 non-null  float64
 11  h9          14697 non-null  float64
 12  h10         14697 non-null  float64
 13  h11         14697 non-null  float64
 14  h12         14697 non-null  float64
 15  h13         14697 non-null  float64
 16  h14         14697 non-null  float64
 17  h15         14697 non-null  float64
 18  h16         14697 non-null  float64
 19  h17         14697 non-null  float64
 20  h18         14697 non-null  float64
 21  h19         14697 non-null  float64
 22  h20         14697 non-null  float64
 23  h21         14697 non-null  float64
 24  h22         14697 non-null  float64
 25  h23         14697 non-null  float64
 26  h24         14697 non-null  float64
 27  Avg Temp    14697 non-null  float64
 28  High        14697 non-null  float64
 29  Low         14697 non-null  float64
dtypes: datetime64[ns](1), float64(27), int64(1), object(1)
memory usage: 3.4+ MB

In [440]:
dfTempHistoryToPred = dfRAWTempHistory[(pd.isna(dfRAWTempHistory['h1']))]
dfTempHistoryToPred.drop(columns='obsn',inplace = True)
dfTempHistoryToPred.head()

/var/folders/_4/65xymvxn5xgb3xsst5lm02800000gn/T/ipykernel_92252/1393011075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTempHistoryToPred.drop(columns='obsn',inplace = True)

,date,station_id,h1,h2,h3,h4,h5,h6,h7,h8,...,h18,h19,h20,h21,h22,h23,h24,Avg Temp,High,Low
14697,2019-06-23,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14698,2019-06-23,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14699,2019-06-23,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14700,2019-06-23,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14701,2019-06-23,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [441]:
dfTempHist=dfRAWTempHistory[(~dfRAWTempHistory['h1'].isnull())]
dfTempHist.isnull().sum()

date          0
obsn          0
station_id    0
h1            0
h2            0
h3            0
h4            0
h5            0
h6            0
h7            0
h8            0
h9            0
h10           0
h11           0
h12           0
h13           0
h14           0
h15           0
h16           0
h17           0
h18           0
h19           0
h20           0
h21           0
h22           0
h23           0
h24           0
Avg Temp      0
High          0
Low           0
dtype: int64

In [442]:
dfTempHist.head(20)

,date,obsn,station_id,h1,h2,h3,h4,h5,h6,h7,...,h18,h19,h20,h21,h22,h23,h24,Avg Temp,High,Low
0,2015-01-01,1,1,45.0,41.0,40.0,39.0,43.0,44.0,41.0,...,62.0,59.0,59.0,57.0,56.0,54.0,50.0,50.125000,63.0,37.0
1,2015-01-01,2,2,55.0,55.0,54.0,50.0,48.0,44.0,42.0,...,55.0,49.0,49.0,48.0,47.0,49.0,50.0,53.333333,64.0,42.0
2,2015-01-01,3,3,47.0,45.0,44.0,39.0,39.0,38.0,37.0,...,61.0,56.0,55.0,55.0,54.0,55.0,55.0,50.875000,65.0,37.0
3,2015-01-01,4,4,53.0,51.0,49.0,45.0,43.0,41.0,39.0,...,57.0,54.0,44.0,43.0,39.0,39.0,39.0,48.708333,61.0,39.0
4,2015-01-01,5,5,54.0,52.0,50.0,46.0,42.0,41.0,39.0,...,60.0,55.0,52.0,49.0,46.0,48.0,51.0,53.000000,69.0,38.0
5,2015-01-01,6,6,51.0,51.0,49.0,48.0,49.0,50.0,47.0,...,56.0,48.0,48.0,43.0,42.0,40.0,42.0,50.750000,61.0,40.0
6,2015-01-01,7,7,53.0,52.0,51.0,47.0,47.0,46.0,45.0,...,62.0,55.0,53.0,54.0,52.0,52.0,54.0,55.625000,69.0,45.0
7,2015-01-01,8,8,54.0,53.0,50.0,49.0,44.0,44.0,42.0,...,60.0,55.0,51.0,49.0,47.0,50.0,50.0,52.875000,69.0,39.0
8,2015-01-01,9,9,52.0,53.0,51.0,43.0,39.0,44.0,43.0,...,62.0,52.0,46.0,45.0,45.0,52.0,53.0,53.375000,71.0,39.0
9,2015-01-02,10,1,49.0,48.0,51.0,51.0,54.0,55.0,55.0,...,65.0,62.0,62.0,60.0,55.0,59.0,59.0,58.083333,68.0,48.0
10,2015-01-02,11,2,52.0,53.0,55.0,55.0,56.0,56.0,56.0,...,62.0,59.0,56.0,55.0,54.0,54.0,54.0,57.458333,66.0,52.0
11,2015-01-02,12,3,54.0,53.0,53.0,54.0,54.0,53.0,52.0,...,63.0,62.0,61.0,60.0,58.0,60.0,59.0,57.833333,65.0,52.0
12,2015-01-02,13,4,41.0,42.0,44.0,48.0,50.0,51.0,51.0,...,56.0,54.0,51.0,50.0,50.0,50.0,47.0,51.166667,58.0,41.0
13,2015-01-02,14,5,51.0,53.0,54.0,54.0,55.0,55.0,57.0,...,63.0,59.0,55.0,57.0,57.0,57.0,57.0,59.458333,71.0,51.0
14,2015-01-02,15,6,45.0,45.0,49.0,51.0,51.0,52.0,54.0,...,55.0,51.0,51.0,51.0,50.0,51.0,48.0,52.041667,58.0,45.0
15,2015-01-02,16,7,55.0,56.0,56.0,55.0,56.0,54.0,53.0,...,67.0,64.0,62.0,60.0,58.0,59.0,59.0,59.708333,70.0,53.0
16,2015-01-02,17,8,50.0,51.0,52.0,54.0,55.0,55.0,56.0,...,61.0,58.0,56.0,54.0,55.0,54.0,54.0,56.166667,64.0,50.0
17,2015-01-02,18,9,54.0,55.0,55.0,55.0,55.0,54.0,55.0,...,61.0,56.0,53.0,51.0,52.0,52.0,56.0,56.958333,67.0,51.0
18,2015-01-03,19,1,59.0,62.0,61.0,61.0,63.0,64.0,65.0,...,79.0,77.0,74.0,72.0,73.0,73.0,71.0,70.166667,79.0,59.0
19,2015-01-03,20,2,54.0,55.0,55.0,53.0,52.0,55.0,55.0,...,74.0,73.0,72.0,71.0,72.0,72.0,71.0,65.833333,78.0,52.0

In [443]:
# Above is left with multiple DFs
#dfRAWLoadHistory - RAW from excel
#dfRAWTempHistory - RAW from excel

#dfTempHistory - Temp Data
#dfLoadHistory - Energy Load Data

#dfLoadHistoryToPred - blank values need to Predict
#dfTempHistoryToPred - blank values need to Predict

#dfTotalLoadHistory - Daily totals from RAW df

In [444]:
# Attempt to build Models

In [445]:
dfh1 = dfLoadHistory[['zone_id','date','Holiday','Weekend','h1']]
dfh1.head()

  zone_id       date  Holiday  Weekend        h1
0     1.0 2015-01-01     True    False   66025.0
1     2.0 2015-01-01     True    False   16908.0
2     3.0 2015-01-01     True    False  126314.0
3     4.0 2015-01-01     True    False  136288.0
4     5.0 2015-01-01     True    False     539.0

In [446]:
dfh1T = dfTempHist[['station_id','date','h1']]
dfh1T.head()

  station_id       date    h1
0          1 2015-01-01  45.0
1          2 2015-01-01  55.0
2          3 2015-01-01  47.0
3          4 2015-01-01  53.0
4          5 2015-01-01  54.0

In [480]:
def appendTemperature(dfTemp,dfHx,Hx):
    dfT = dfTempHist[['station_id','date',str(Hx)]]
    for x in range(1,10):
        dfinsertValues = dfT.loc[dfT['station_id']== str(x),[str(Hx),'date']]
        dfinsertValues.rename(columns = {str(Hx):'T' + str(x)}, inplace = True)
        dfHx = dfHx.merge(dfinsertValues,how='left', on=['date'])
    return dfHx

def buildDFdict(dfLoad, dfTemp):
    dfDic = {}
    for x in range(1,25):
        dfH = dfLoad[['zone_id','date','Holiday','Weekend','h'+str(x)]]
        dfDic['H'+str(x)]=appendTemperature(dfTemp,dfH,'h'+str(x))
    return dfDic

def prep4Model(df):
        df['date'] = pd.to_numeric(df['date'])
        df=pd.get_dummies(df,columns=['Holiday','Weekend'],drop_first=True)
        return df

def dataDicToExcel(dic):
    path="/Users/ryansupple/Desktop/ISDS 7075 Buisness Forecasting/Project/EnergyDictionary.xlsx"
    writer = pd.ExcelWriter(path, engine = 'xlsxwriter')
    for df in dic:
        dic[df].to_excel(writer, sheet_name=df)

In [474]:
Testdic = buildDFdict(dfLoadHistory,dfTempHist)
dfTest = Testdic['H1']
print (dfTest)

      zone_id       date  Holiday  Weekend        h1    T1    T2    T3    T4  \
0         1.0 2015-01-01     True    False   66025.0  45.0  55.0  47.0  53.0
1         2.0 2015-01-01     True    False   16908.0  45.0  55.0  47.0  53.0
2         3.0 2015-01-01     True    False  126314.0  45.0  55.0  47.0  53.0
3         4.0 2015-01-01     True    False  136288.0  45.0  55.0  47.0  53.0
4         5.0 2015-01-01     True    False     539.0  45.0  55.0  47.0  53.0
...       ...        ...      ...      ...       ...   ...   ...   ...   ...
23650    11.0 2019-06-22    False     True   61989.0  73.0  81.0  73.0  78.0
23651    12.0 2019-06-22    False     True   94692.0  73.0  81.0  73.0  78.0
23652    13.0 2019-06-22    False     True  121706.0  73.0  81.0  73.0  78.0
23653    14.0 2019-06-22    False     True   14546.0  73.0  81.0  73.0  78.0
23654    15.0 2019-06-22    False     True   15810.0  73.0  81.0  73.0  78.0

         T5    T6    T7    T8    T9
0      54.0  51.0  53.0  54.0  52.0
1      54.0  51.0  53.0  54.0  52.0
2      54.0  51.0  53.0  54.0  52.0
3      54.0  51.0  53.0  54.0  52.0
4      54.0  51.0  53.0  54.0  52.0
...     ...   ...   ...   ...   ...
23650  79.0  78.0  77.0  76.0  76.0
23651  79.0  78.0  77.0  76.0  76.0
23652  79.0  78.0  77.0  76.0  76.0
23653  79.0  78.0  77.0  76.0  76.0
23654  79.0  78.0  77.0  76.0  76.0

[23655 rows x 14 columns]

In [481]:
dfTest = prep4Model(dfTest)
print(dfTest)

      zone_id                 date        h1    T1    T2    T3    T4    T5  \
0         1.0  1420070400000000000   66025.0  45.0  55.0  47.0  53.0  54.0
1         2.0  1420070400000000000   16908.0  45.0  55.0  47.0  53.0  54.0
2         3.0  1420070400000000000  126314.0  45.0  55.0  47.0  53.0  54.0
3         4.0  1420070400000000000  136288.0  45.0  55.0  47.0  53.0  54.0
4         5.0  1420070400000000000     539.0  45.0  55.0  47.0  53.0  54.0
...       ...                  ...       ...   ...   ...   ...   ...   ...
23650    11.0  1561161600000000000   61989.0  73.0  81.0  73.0  78.0  79.0
23651    12.0  1561161600000000000   94692.0  73.0  81.0  73.0  78.0  79.0
23652    13.0  1561161600000000000  121706.0  73.0  81.0  73.0  78.0  79.0
23653    14.0  1561161600000000000   14546.0  73.0  81.0  73.0  78.0  79.0
23654    15.0  1561161600000000000   15810.0  73.0  81.0  73.0  78.0  79.0

         T6    T7    T8    T9  Holiday_True  Weekend_True
0      51.0  53.0  54.0  52.0             1             0
1      51.0  53.0  54.0  52.0             1             0
2      51.0  53.0  54.0  52.0             1             0
3      51.0  53.0  54.0  52.0             1             0
4      51.0  53.0  54.0  52.0             1             0
...     ...   ...   ...   ...           ...           ...
23650  78.0  77.0  76.0  76.0             0             1
23651  78.0  77.0  76.0  76.0             0             1
23652  78.0  77.0  76.0  76.0             0             1
23653  78.0  77.0  76.0  76.0             0             1
23654  78.0  77.0  76.0  76.0             0             1

[23655 rows x 14 columns]

In [482]:
dfTestZ1 = dfTest[(dfTest.zone_id == "1.0")]
dfTestZ1.head()

,zone_id,date,h1,T1,T2,T3,T4,T5,T6,T7,T8,T9,Holiday_True,Weekend_True
0,1.0,1420070400000000000,66025.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0,1,0
15,1.0,1420156800000000000,57097.0,49.0,52.0,54.0,41.0,51.0,45.0,55.0,50.0,54.0,0,0
30,1.0,1420243200000000000,58291.0,59.0,54.0,56.0,50.0,57.0,50.0,56.0,54.0,56.0,0,1
45,1.0,1420329600000000000,45723.0,71.0,72.0,70.0,66.0,71.0,67.0,70.0,72.0,70.0,0,1
60,1.0,1420416000000000000,40384.0,71.0,73.0,72.0,56.0,75.0,55.0,73.0,65.0,73.0,0,0

In [461]:
X = dfTestZ1[['date','T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'Holiday_True', 'Weekend_True']]
y = dfTestZ1[['h1']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

,zone_id,date,Holiday,Weekend,h1,T1,T2,T3,T4,T5,T6,T7,T8,T9
0,1.0,2015-01-01,True,False,66025.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
1,2.0,2015-01-01,True,False,16908.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
2,3.0,2015-01-01,True,False,126314.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
3,4.0,2015-01-01,True,False,136288.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
4,5.0,2015-01-01,True,False,539.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
5,6.0,2015-01-01,True,False,6884.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
6,7.0,2015-01-01,True,False,133143.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
7,8.0,2015-01-01,True,False,136288.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
8,9.0,2015-01-01,True,False,3179.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
9,10.0,2015-01-01,True,False,75298.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
10,11.0,2015-01-01,True,False,23394.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
11,12.0,2015-01-01,True,False,90755.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
12,13.0,2015-01-01,True,False,118433.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
13,14.0,2015-01-01,True,False,20728.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
14,15.0,2015-01-01,True,False,21846.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
15,1.0,2015-01-02,False,False,57097.0,49.0,52.0,54.0,41.0,51.0,45.0,55.0,50.0,54.0
16,2.0,2015-01-02,False,False,14210.0,49.0,52.0,54.0,41.0,51.0,45.0,55.0,50.0,54.0
17,3.0,2015-01-02,False,False,123507.0,49.0,52.0,54.0,41.0,51.0,45.0,55.0,50.0,54.0
18,4.0,2015-01-02,False,False,133261.0,49.0,52.0,54.0,41.0,51.0,45.0,55.0,50.0,54.0
19,5.0,2015-01-02,False,False,516.0,49.0,52.0,54.0,41.0,51.0,45.0,55.0,50.0,54.0

In [465]:
Testdic = prep4Model(Testdic)
dfTest = Testdic['H1']
dfTest.head()

,zone_id,date,Holiday,Weekend,h1,T1,T2,T3,T4,T5,T6,T7,T8,T9
0,1.0,2015-01-01,True,False,66025.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
1,2.0,2015-01-01,True,False,16908.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
2,3.0,2015-01-01,True,False,126314.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
3,4.0,2015-01-01,True,False,136288.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0
4,5.0,2015-01-01,True,False,539.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0

In [387]:
dfTestZ1 = dfTest[(dfTest.zone_id == "1.0")]
dfTestZ1.head()

,zone_id,date,h1,T1,T2,T3,T4,T5,T6,T7,T8,T9,Holiday_True,Weekend_True
0,1.0,1420070400000000000,66025.0,45.0,55.0,47.0,53.0,54.0,51.0,53.0,54.0,52.0,1,0
15,1.0,1420156800000000000,57097.0,49.0,52.0,54.0,41.0,51.0,45.0,55.0,50.0,54.0,0,0
30,1.0,1420243200000000000,58291.0,59.0,54.0,56.0,50.0,57.0,50.0,56.0,54.0,56.0,0,1
45,1.0,1420329600000000000,45723.0,71.0,72.0,70.0,66.0,71.0,67.0,70.0,72.0,70.0,0,1
60,1.0,1420416000000000000,40384.0,71.0,73.0,72.0,56.0,75.0,55.0,73.0,65.0,73.0,0,0

In [389]:
X = dfTestZ1[['date','T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'Holiday_True', 'Weekend_True']]
y = dfTestZ1[['h1']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

regh1 = linear_model.LinearRegression()
regh1.fit(X_train, y_train)
print(regh1.score(X_test, y_test))

0.21583767415528154

In [390]:
print(regh1.coef_)

[[-7.32760888e-15 -3.77917723e+01 -3.75584131e+01 -3.67089695e+01
  -3.91156515e+01 -3.85051405e+01 -3.89997326e+01 -3.66616657e+01
  -3.94535097e+01 -3.87625020e+01  1.29372292e-02  1.17946592e-02]]

In [391]:
y_pred = regh1.predict(X_test)
print(y_pred)

[[60371.67622579]
 [59429.85101582]
 [63683.59434758]
 [52727.82291798]
 [47220.59311313]
 [60184.13302618]
 [66082.23706472]
 [66417.71317915]
 [58398.80227785]
 [51438.55488224]
 [49412.63107099]
 [61667.870024  ]
 [51092.18997639]
 [52895.7157275 ]
 [47878.43961362]
 [51864.04268762]
 [66907.49388741]
 [53936.23210462]
 [52320.54982074]
 [56441.27215908]
 [49248.32807934]
 [52395.19469333]
 [61983.88999628]
 [48151.02464195]
 [60499.62262448]
 [54483.72994209]
 [62558.76978127]
 [49322.54668849]
 [53842.59594453]
 [59859.55620632]
 [59333.86134279]
 [56824.67975192]
 [55687.88564079]
 [48908.36541575]
 [61562.02807009]
 [50166.42525575]
 [54361.10215673]
 [51516.9900748 ]
 [50308.96704551]
 [60179.60043911]
 [52904.917648  ]
 [56961.58156643]
 [59618.07510651]
 [49095.10568752]
 [48038.20456089]
 [47842.97929413]
 [49964.9840617 ]
 [46686.5750802 ]
 [55000.65621481]
 [62376.74855555]
 [57191.84292886]
 [53675.95753673]
 [45926.18245631]
 [50006.36912544]
 [64385.33354799]
 [52854.0284518 ]
 [48094.98602941]
 [63258.77771251]
 [52200.85301278]
 [62385.24351906]
 [53545.43975714]
 [57084.16303725]
 [55737.59722878]
 [58664.38331033]
 [54676.23274996]
 [50900.75661502]
 [48672.66560884]
 [59766.30854405]
 [59517.96589945]
 [58220.91153413]
 [61360.89237702]
 [55620.69790859]
 [49870.6186646 ]
 [56853.25475859]
 [52284.3867323 ]
 [55666.83307774]
 [49310.37762801]
 [64575.22790062]
 [49906.1087693 ]
 [56209.3114773 ]
 [48305.02953983]
 [51803.05675146]
 [57424.63299661]
 [62058.95027348]
 [47375.68376008]
 [62598.94756501]
 [56564.99040993]
 [49315.88100101]
 [52623.44600914]
 [63804.94443104]
 [48695.83546222]
 [50427.69775293]
 [53724.90492638]
 [48385.46297719]
 [52677.22799642]
 [52250.53079627]
 [53187.42586186]
 [51919.06331498]
 [63049.29441845]
 [52515.88098076]
 [54284.39787672]
 [57211.23191685]
 [63418.09212073]
 [48822.19557709]
 [54504.25297232]
 [57832.71234976]
 [60873.44402936]
 [52017.39164333]
 [53496.97389039]
 [62130.30558793]
 [51552.24545227]
 [54103.43835027]
 [50326.22964244]
 [51678.78965902]
 [49442.99882662]
 [58869.32477856]
 [56465.83833376]
 [62434.93227767]
 [61828.56985288]
 [52790.89280084]
 [54155.23885079]
 [56672.13815169]
 [60675.84342029]
 [58480.37804123]
 [59854.35033961]
 [55859.22804033]
 [54221.94130207]
 [56079.96188422]
 [52420.37478236]
 [62216.62231462]
 [60584.82630703]
 [63741.84962403]
 [58518.03954032]
 [55437.2636613 ]
 [46872.86513957]
 [48204.78297153]
 [49974.62293658]
 [63836.09278439]
 [54876.85928353]
 [64463.12587934]
 [49174.5475553 ]
 [62040.67092417]
 [48875.92623807]
 [60815.4185583 ]
 [58098.48606202]
 [54295.26524568]
 [59338.53630652]
 [51253.98182203]
 [61521.70476819]
 [67140.92297587]
 [60891.90667283]
 [51795.80818565]
 [52319.08875874]
 [61510.92448261]
 [62241.1375882 ]
 [59189.40440504]
 [53147.76638459]
 [48835.03852202]
 [58024.15389047]
 [48767.54064902]
 [56925.89001798]
 [48489.68931773]
 [48835.5916976 ]
 [49100.24168806]
 [57120.65617081]
 [48774.39938365]
 [67631.88873335]
 [50464.8346056 ]
 [58793.21517056]
 [55310.57355198]
 [47439.41908459]
 [58596.69853015]
 [51497.03311627]
 [58512.03701291]
 [59419.59691268]
 [59906.60848766]
 [49163.30212213]
 [50728.78805149]
 [54783.12359115]
 [57318.3178039 ]
 [54415.9905878 ]
 [57688.01176525]
 [49099.68091261]
 [58805.18967162]
 [51573.22806697]
 [65545.6797369 ]
 [58127.94439551]
 [62303.70947193]
 [54476.50481701]
 [52466.66481568]
 [51953.72011486]
 [52306.78138201]
 [51586.06288481]
 [64228.734712  ]
 [56709.46222393]
 [47129.77391792]
 [48420.05124447]
 [59433.27535066]
 [51910.8139368 ]
 [53569.93792255]
 [47180.76144498]
 [56204.35249102]
 [57549.94611428]
 [53988.1596143 ]
 [59667.3710581 ]
 [64853.57241808]
 [50244.91107318]
 [60331.81906129]
 [50275.51677595]
 [58496.8875755 ]
 [59195.24284684]
 [56097.3658888 ]
 [58698.76217092]
 [66153.69459213]
 [49530.70335853]
 [63047.19740313]
 [52078.17140251]
 [61040.77386115]
 [51824.86645984]
 [58080.80603203]
 [59557.64655089]
 [50285.87615787]
 [51431.41038177]
 [47204.67952342]
 [56105.12411377]
 [62446.32625507]
 [55945.3113621 ]
 [50611.49071567]
 [64308.06652406]
 [63429.91257271]
 [50930.44631733]
 [60464.7080711 ]
 [51079.1247471 ]
 [52809.71244781]
 [62613.29982356]
 [48829.03640286]
 [50310.97987948]
 [47517.95713105]
 [50132.50721477]
 [59949.45352263]
 [62404.52742864]
 [55845.22634676]
 [61966.71182741]
 [49062.31130601]
 [54959.16875788]
 [64533.63827597]
 [59056.36980139]
 [48073.6085355 ]
 [53605.9508662 ]
 [57914.05350283]
 [47718.83743723]
 [63904.49534412]
 [47173.9848274 ]
 [60283.27788707]
 [47365.35685746]
 [53702.50368163]
 [52860.83365333]
 [59635.74906075]
 [56704.26559986]
 [57503.9581405 ]
 [64175.03115286]
 [50825.46344785]
 [48566.78847323]
 [61743.69671857]
 [58724.24992245]
 [55886.51259732]
 [49970.74051719]
 [60045.53948196]
 [54885.79380288]
 [47934.98821434]
 [54779.31724201]
 [66425.68431767]
 [56474.45692097]
 [64988.58146943]
 [51425.1324788 ]
 [51820.70446539]
 [61641.77339704]
 [52180.40980903]
 [60831.69951467]
 [62044.49223203]
 [61704.2334986 ]
 [50663.39528621]
 [52250.23346512]
 [48709.64952821]
 [64298.84845946]
 [49908.92074139]
 [54684.30353291]
 [50773.70367477]
 [48403.72223748]
 [62734.33955708]
 [50171.27004691]
 [60478.24576702]
 [51942.74595179]
 [47802.21750415]
 [52306.66639983]
 [47892.759843  ]
 [49206.48922687]
 [47735.72499133]
 [65763.76113132]
 [58297.53164663]
 [62576.76989182]
 [57661.84185383]
 [61236.83504915]
 [54154.70386901]
 [63150.02154189]
 [49738.62168963]
 [55128.81464461]
 [59700.01296689]
 [59140.60226481]
 [60295.63153867]
 [60638.90768038]
 [56169.25514097]
 [53798.35252707]
 [54692.08855873]
 [46701.14092536]
 [49655.56187488]
 [62500.47007511]
 [53013.71568548]
 [58231.200486  ]
 [51351.13825267]
 [60938.23727708]
 [60883.09820109]
 [61476.49658505]
 [49325.04704085]
 [56311.9010685 ]
 [55315.2817052 ]
 [59149.36768805]
 [59273.68985698]
 [49138.0873651 ]
 [59914.43974442]
 [47589.27335194]
 [49471.90406216]
 [64491.2416232 ]
 [51598.32760935]
 [51950.34453709]
 [51259.33539283]
 [49359.23967891]
 [59466.6630864 ]
 [61741.42880711]
 [66550.60335301]
 [51903.78591134]
 [60577.21070751]
 [56322.00090101]
 [61895.01388167]
 [58505.14904507]
 [60987.09144544]
 [61289.27417643]
 [55571.29278532]
 [61315.84563038]
 [59492.82941803]
 [50343.86496623]
 [61218.77786672]
 [63125.33977517]
 [55697.34212738]
 [58509.6087345 ]
 [47338.20607568]
 [59379.97030903]
 [49363.77952976]
 [62757.34635528]
 [55493.32537215]
 [48490.02694554]
 [50931.64004736]
 [60563.75261734]
 [49795.89669995]
 [54869.92704761]
 [60069.01861714]
 [49214.91738659]
 [56340.0212282 ]
 [46479.82430499]
 [49683.81578945]
 [49742.54282514]
 [58866.13636107]
 [48575.1702406 ]
 [58556.46927174]
 [54988.45161445]
 [49377.36481925]
 [54828.08603658]
 [55243.02648457]
 [58762.36152105]
 [58301.45717015]
 [62103.58137282]
 [48091.48667083]
 [53808.80513524]
 [49164.63111495]
 [50561.71429301]
 [68728.3347367 ]
 [61155.12919198]
 [61738.06433486]
 [55776.74674154]
 [59504.5915868 ]
 [61970.85881049]
 [57397.73004252]
 [57062.13876407]
 [65850.62151048]
 [54661.6676415 ]]

In [392]:
rmse = mean_squared_error(y_true=y_test,y_pred=y_pred,squared=False)

In [393]:
print(rmse)

10774.964802502718